<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-search-query-heading">Create or edit a Search Query</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!searchQuery.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="searchQuery.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_position">Position</label>
                    <input type="text" class="form-control" name="position" id="field_position"
                        [(ngModel)]="searchQuery.position" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                        [(ngModel)]="searchQuery.location" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                        [(ngModel)]="searchQuery.company" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_queryDate">Query Date</label>
                    <div class="input-group">
                        <input id="field_queryDate" type="text" class="form-control" name="queryDate" ngbDatepicker  #queryDateDp="ngbDatepicker" [(ngModel)]="searchQuery.queryDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="queryDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
